body {
    margin: 0px ;
    padding: 0px ;
    font-family: "Lumin Light", Trebuchet MS, sans-serif ;
    font-size: 16px ;
    background: rgb(64, 64, 64) ;
    color: rgb(253, 253, 253) ;
    width: 100% ;
    }

h1 {
    font-family: Trebuchet MS,sans-serif ;
    font-weight: bold ;
    margin: 1em 0px 1em 0px ;
    padding: 0px 0px 1ex 0px ;
    border-bottom: solid 1px rgb(192, 192, 192) ;
    }

h2 {
    font-family: Trebuchet MS,sans-serif ;
    font-weight: bold ;
    margin: 3em 0px 1em 0px ;
    font-size: 100%;
    }

h3 {
    font-family: Trebuchet MS,sans-serif ;
    font-weight: bold ;
    font-style: italic ;
    margin: 2em 0px 1em 0px ;
    font-size: 90%;
    }

p.articlemeta {
    font-size: 80% ;
    color: rgb(128, 128, 128) ;
    text-align: right ;
    }

p.summary {
    font-style: italic ;
    }

p {
    line-height: 170% ;
    }

blockquote {
    font-size: 100% ;
    line-height: 190% ;
    font-style: italic ;
    margin: 1em 0px ;
    background: rgb(244, 244, 224) ;
    padding: 1ex 2em ;
    }

dl {
    margin: 0px 0px 1em 0px ;
    }

dt {
    display: block ;
    margin: 0px 2em 1ex 0px ;
    padding: 2pt ;
    background: rgb(248, 248, 248) ;
    }

dd {
    display: block ;
    margin: 0px 0px 2em 0px ;
    padding: 2pt ;
    }

pre {
    margin: 0px ;
    padding: 1em ;
    background: rgb(64, 64, 64) ;
    color: rgb(240, 240, 240) ;
    }

strong {
    font-size: 96% ;
    }

figcaption {
    font-style:italic;
    text-align:right;
    }

a:link {
    color: rgb(34, 70, 152) ;
    text-decoration: none ;
    border-bottom: none ;
    }

a:hover {
    color: rgb(45, 127, 205) ;
    text-decoration: none ;
    border-bottom: solid 1px rgb(216, 216, 216) ;    
    }

a:visited {
    color: rgb(23, 49, 107) ;
    border-bottom: solid 1px rgb(216, 216, 216) ;
    }

main p a:before {
    content: "→" ;
    margin-right:3pt;
    }

div.centered {
    }

header {
    margin: 0px ;
    background: rgb(1, 1, 1) ;
    border-bottom: solid 1px rgb(192, 192, 192) ;
    }

p.title {
    font-weight: bold ;
    font-size: 200% ;
    }

ul li {
    margin: 0px 0px 1ex 0px ;
    line-height: 160% ;
    }

div.imgcontainer img, figure img {
    width: 100% ;
    }

header ul#navigation {
    font-family: Trebuchet MS,sans-serif ;
    }

header ul#navigation li a:link {
    border-bottom: none ;
    }

main {
    margin: 0px ;
    min-height: 300px ;
    border-top: solid 1px rgb(250, 250, 250) ;
    background: rgb(17, 17, 17) ;
    }

div.columnsmall {
    }

div.columnmedium {
    }

div.columnlarge {
    }

div.clearcolumns {
    }

footer {
    margin: 0px ;
    padding: 1em 1em 1em 5em ;
    font-size: 80% ;
    min-height: 20% ;
    border-top: solid 1px rgb(128, 128, 128) ;
    background: rgb(1, 1, 1) ;
    color: rgb(51, 51, 51) ;
    }

footer a:link {
    color: rgb(150, 150, 150) ;
    border-bottom: none ;
    }

footer a:hover {
    color: rgb(196, 196, 196) ; 
    border-bottom: none ;
    }

footer a:visited {
    color: rgb(150, 150, 150) ;
    border-bottom: none ;
    }

footer ul#navigation {
    font-family: Trebuchet MS,sans-serif ;
    margin: 0px ;
    padding: 0px ;
    line-height: 200% ;
    list-style: none inside ;
    }

@media only screen and (max-device-width: 768px)
{
    pre {
        font-size: 80% ;
        }

    div.centered {
        }

    header {
        padding: 1em ;
        text-align: center ;
        }

    p.title {
        }

    header ul#navigation {
        margin: 0px ;
	    padding: 0px ;
	    list-style: inside none ;
	    line-height: 200% ;
        }

    header ul#navigation li {
        margin: 0px 0x 1em 0px ;
	    padding: 0px ;
        }

    header ul#navigation li a:link {
        }

    header ul#navigation li a:hover {
        }

    main {
        padding: 1em ;
        }
}

@media only screen and (min-device-width: 769px)
{
    pre {
        }

    div.centered {
        margin: 0px auto ;
        padding: 0px ;
        max-width: 1280px ;
        }

    header {
        padding: 3em 1em 2em 5em ;
        }

    p.title {
        float: left ;
        margin: 0px 3em 0px 0px ;
        }

    header ul#navigation {
        }

    header ul#navigation li {
        margin: 0px 3em 0px 0px ;
        display: inline ;
        }

    header ul#navigation li a:link {
        }

    header ul#navigation li a:hover {
        padding: 0px 0px 1ex 0px ;
        border-bottom: solid 3px rgb(192, 192, 192) ;
        }

    main {
        padding: 2em 1em 1em 5em ;
        }

    div.columnsmall {
        width: 14% ;
        min-width: 14% ;
        margin: 0px 3em 0px 0px ;
        padding: 0px ;
        float: left ;
        }

    div.columnmedium {
        width: 28% ;
        min-width: 28% ;
        margin: 0px 3em 0px 0px ;
        padding: 0px ;
        float: left ;
        }

    div.columnlarge {
        width: 56% ;
        height: 100%
        min-width: 56% ;
        margin: 0px 3em 0px 0px ;
        padding: 0px ;
        float: left ;
        }

    div.game {
        width: 50% ;
        height: 100%
        min-width: 30% ;
        margin: 0px 0px 0px 0px ;
        padding: 30px ;
        float: left ;
        }

    div.clearcolumns {
        clear: both ;
        }
}
