.column-wrapper {
    width: 1000px; 
    height: 50%; 
    overflow: auto; 
    padding: 2%;
    z-index: 1; 
  }
  .column-wrapper h2 {
    margin: 10px; /* Example margin for headings */
    color: #333; /* Example text color */
  }
.embedded-board
{
  display: flex;
  height: 70vh;
  background-color: transparent;
  z-index: 1;
}